<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758810139442-7i4gjp7so90i57aalq7gp6m9b9ac67lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758810139442-7i4gjp7so90i57aalq7gp6m9b9ac67lr</string>
	<key>API_KEY</key>
	<string>AIzaSyAd4q3SW3BaNXbnhzuxZIZavgaGSnPfyvE</string>
	<key>GCM_SENDER_ID</key>
	<string>758810139442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examenOrdinario</string>
	<key>PROJECT_ID</key>
	<string>lucid-authority-365519</string>
	<key>STORAGE_BUCKET</key>
	<string>lucid-authority-365519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758810139442:ios:90973952a96e24de89152b</string>
</dict>
</plist>